.Maindetails {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  height: 80vh;
}

.Maindetails * {
  position: relative;
  z-index: 999999;
}

@media screen and (max-width: 600px) {
  .btn-container {
    width: 85%;
  }
}
